<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Calculadora" class="Entidades.Calculadora">
    </bean>
    <bean id="GestorFacturas" class="Entidades.GestorFacturas">
        <constructor-arg name="calculadora" ref="Calculadora"/>
        <constructor-arg name="tipo" value="tipo"/>
    </bean>

</beans>